* {
    font-family: "Inter", sans-serif !important;
    box-sizing: border-box !important;
}

#root {
    width: 80% !important;
    height: 100vh;
    margin: auto !important;
    position: relative !important;
}

@keyframes in-keyframes {
    0% {
        opacity: 0;
        translate: 0 100%;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes left-keyframes {
    0% {
        opacity: 0;
        translate: -100% 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

.animate-left {
    animation: left-keyframes 0.5s both;
}

.animate-in {
    animation: in-keyframes 0.5s both;
}

body .react-bubbly-transitions__bubbly-link.active {
    position: relative;
    color: #1a48ef;
    padding-left: 0;
    padding-right: 0;
}

body .react-bubbly-transitions__bubbly-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: #1a48ef;
}
