.showcase {
  &_wrapper {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    height: 450px;
    overflow: visible;
    position: relative;
  }
  &_img_container {
    background-image: url("../assets/images/showcase_rect.svg");
    overflow-x: visible;
    position: relative;
    height: 100%;
    width: 550px;
    object-fit: cover;
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
    img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      right: -4%;
      top: 0;
    }
  }
  &_headings {
    height: 100%;
    display: flex;
    width: 52%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    h1 {
      margin: 0;
      font-size: 45px;
      text-align: left;
      letter-spacing: 1px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      color: #7a7a7a;
      letter-spacing: 1px;
    }
  }
  &_search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 75%;
    height: fit-content;
    bottom: 0;
    left: 50%;
    position: absolute;
    border-radius: 50px;
    padding: 1rem 3rem;
    background-color: white;
    transform: translate(-50%, 0%);
    box-shadow: 0 2px 50px rgb(0, 0, 0, 8%);
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      p {
        margin-top: 0;
        font-size: 14px;
      }
      i {
        color: #47a8dd;
        font-size: 20px;
        display: inline-block;
      }
      .left {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
        padding-right: 3rem;
        border-right: 1px solid black;
      }
      .right {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
        padding-right: 2rem;
      }
      .location,
      .car_type,
      .pickup,
      .return {
        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          
        }
      }
    }
  }
}
.cta_buttons_primary {
  display: block;
  padding: 1rem;
  border-radius: 40px;
  color: white;
  width: 110px;
  background-color: #3999cd;
}
